<?xml version="1.0" encoding="utf-8"?>
<configuration>

<configSections>
</configSections>
<connectionStrings>
    <add name="QuanliLKDT.Properties.Settings.QLLinhKienDTConnectionString"
        connectionString="Data Source=DESKTOP-RNV8JUS\SQLEXPRESS;Initial Catalog=QLLinhKienDT;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
